.NoteEditor_main table {
    width: 100%;
}

.NoteEditor_main {
    width: 400px;
    height: 300px;
    background-color: #FFFFFF;
    border: 1px solid #E5E5E5;
    position:fixed;
    z-index: 100;
    top:50%;
    left:50%;
    margin:-200px 0 0 -150px;
    font-family: 'Helvetica Neue', arial, freesans, clean, sans-serif;
}

.NoteEditor_background {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(51,51,51,0.7);
    z-index: 10;
}

.NoteEditor_content {
    width: 100%;
    height: 100%;
    border-collapse: separate;
    border-spacing: 0px 0px;
}

td.NoteEditor_content_heading {
    font-size: 11pt;
    font-weight: bold;
    color: #393939;
    height: 20px;
    padding: 5px;
    background-color: #F2F2F2;
    border: 1px solid #E5E5E5;
}

.NoteEditor_content_heading_controls {
    text-align: right;
}

td.NoteEditor_content_content {
    width: 100%;
    height: 90%;
    text-align: center;
}

.NoteEditor_content_textfield {
    width: 98%;
    height: 200px;
    resize: none;
    font-size: 10pt;
}

.NoteEditor_content_help {
    text-align: left;
    margin: 5px;
    width: 100%;
    font-size: 8pt;
}
