.NoteEditor_main table {
    width: 100%;
}

.NoteEditor_main {
    width: 450px;
    height: 350px;
    background-color: #FFFFFF;
    border-radius: 3px;
    position:fixed;
    z-index: 500;
    top:50%;
    left:50%;
    margin:-200px 0 0 -150px;
}

.NoteEditor_background {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(51,51,51,0.7);
    z-index: 400;
}

.NoteEditor_content {
    width: 100%;
    height: 100%;
    border-collapse: separate;
    border-spacing: 0px 0px;
}

td.NoteEditor_content_heading {
    font-size: 11pt;
    font-weight: bold;
    color: #393939;
    height: 20px;
    padding: 5px;
    border-bottom: 1px solid #BDC4C9;
}

.NoteEditor_content_heading_controls {
    text-align: right;
}

td.NoteEditor_content_help {
    width: 100%;
    text-align: center;
}

td.NoteEditor_content_content {
    width: 100%;
    height: 100%;
    text-align: center;
}

textarea:focus {
    border-color: #51A7E8;
    box-shadow: 0 0 5px rgba(81,167,232,0.5);
    background-color: #FFFFFF;
}

textarea {
    background-color: #FAFAFA;
    padding: 7px 8px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
}

.NoteEditor_content_textfield {
    height: 88%;
    width: 88%;
    resize: none;
    overflow: auto;
    font: 10pt Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"
}

.NoteEditor_content_help_notify {
    width: 88%;
    text-align: left;

    border-radius: 3px;
    margin-top: 9px;
    margin-bottom: 9px;
    padding: 8px 8px;
    font-size: 12px;
    display: inline-block;

    background-color: #F4FAFF;
    border: 1px solid #51A7E8;
    color: #51A7E8;
}
