.Row_content_title {
    width: 100%;
    padding: 5px;
}

.Row_content_title_menu {
    width: 100%;
    height: 20px;
    font-size: 10pt;
    font-weight: bold;
    background-color: #F2F2F2;
    border: 1px solid #BFBFBF;
    padding: 5px;
}

.Row_content_title_menu_text {
    text-align: left;
}

.Row_content_title_menu_bar {
    text-align: right;
}
