body {
    margin: 0;
    font-family: 'Helvetica Neue', arial, freesans, clean, sans-serif;
}

.size {
    min-width: 1000px;
    width: 1000px;
}

div.wrapper {

}

div.canvas {
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
    min-height: 500px;
}

/* style for the main table */

.Canvas_main {
    width: 100%;
    height: inherit;
    color: #393939;
    font-size: 8pt;
}

.Canvas_main_column {
    width: 20%;
    height: inherit;
    /*border: 1px solid #4183C4;*/
    vertical-align: top;
    background-color: #FFFFFF;
}

.Canvas_column_table {
    margin: auto;
    height: inherit;
    width: 100%;
}

.Canvas_main_column_row {
    min-height: 100px;
    height: inherit;
    width: inherit;
    vertical-align: text-top;
}

/* unvisited link */
a:link {
    color: #4183C4;
}

/* visited link */
a:visited {
    color: #4183C4;
}

/* mouse over link */
a:hover {
    color: #4183C4;
}

/* selected link */
a:active {
    color: #4183C4;
}


/***** header *****/

div.header {
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 1020px;
    min-height: 20px;
    height: 34px;

    background-color: #fafafa;
    background: -moz-linear-gradient(#fafafa, #eaeaea);
    background: -webkit-linear-gradient(#fafafa, #eaeaea);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#eaeaea')";
    position: relative;
    z-index: 10;
    border-bottom: 1px solid #cacaca;
    box-shadow: 0 1px 0 rgba(255,255,255,0.4),0 0px 10px rgba(0,0,0,0.1);
}

div.subheader {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

table.header_table {
    width: 100%;
    height: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

td.header_table_title {
    text-align: left;
    font-size: 9pt;
}

td.header_table_controls {
    text-align: right;
}

.header_load_area {
    border-spacing: 0px 0px;
    border-collapse: separate;
    width: 100%;
    height: 100%;
}

.header_load_area td {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    background-color: #E5F7EA;
    border: 1px solid #BEEBCB;
    border-radius: 3px;
}

.header_load_text_margin {
    margin-left: 10px;
}

/* all inputs */
input[type="text"].focus,
input[type="text"]:focus {
    border-color: #51A7E8;
    box-shadow: 0 0 5px rgba(81,167,232,0.5);
    background-color: #FFFFFF;
}

input[type="text"] {
    background-color: #FAFAFA;
    padding: 7px 8px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
}

input.header_load_textfield {
    height: 80%;
    width: 250px;
    font-size: 10pt;
}


/***** footer ******/

div.footer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-top: 1px solid #EEEEEE;
}

.footer_content {
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    color: #777777;
    font-size: 10pt;
}
