/* style for the main table */

.Canvas_main {
    width: 100%;
    height: inherit;
    font-family: 'Helvetica Neue', arial, freesans, clean, sans-serif;
    color: #393939;
    font-size: 8pt;
}

.Canvas_main_column {
    width: 20%;
    height: inherit;
    /*border: 1px solid #4183C4;*/
    vertical-align: top;
    background-color: #FFFFFF;
}

.Canvas_column_table {
    margin: auto;
    height: inherit;
    width: 100%;
}

.Canvas_main_column_row {
    min-height: 100px;
    height: inherit;
    width: inherit;
    vertical-align: text-top;
}

/* unvisited link */
a:link {
    color: #4183C4;
}

/* visited link */
a:visited {
    color: #4183C4;
}

/* mouse over link */
a:hover {
    color: #4183C4;
}

/* selected link */
a:active {
    color: #4183C4;
}
