/*
 * alert layout (just text to display nicely, they are not notifications)
 *
 */

 .alert {
    position: relative;
    /*margin: 0 auto;*/
    padding: 9px;
    font-size: 12px;
    color: #264c72;
    border: 1px solid #97c1da;
    border-radius: 3px;
    background-color: #d8ebf8;
    background: -moz-linear-gradient(#d8ebf8, #d0e3ef);
    background: -webkit-linear-gradient(#d8ebf8, #d0e3ef);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#d8ebf8', endColorstr='#d0e3ef')";
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
}

.alert.tip-blue {
    color: #264c72;
    border: 1px solid #97c1da;
    background-color: #d8ebf8;
    background: -moz-linear-gradient(#d8ebf8, #d0e3ef);
    background: -webkit-linear-gradient(#d8ebf8, #d0e3ef);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#d8ebf8', endColorstr='#d0e3ef')";
}

.alert.tip-orange {
    color: #613A00;
    background-color: #ffe3c8;
    background: -moz-linear-gradient(#ffe3c8, #f5dac0);
    background: -webkit-linear-gradient(#ffe3c8, #f5dac0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe3c8', endColorstr='#f5dac0')";
    border: 1px solid #dca874;
}

.alert.tip-red {
    color: #9c2400;
    background-color: #f8d8d8;
    background: -moz-linear-gradient(#f8d8d8, #efd0d0);
    background: -webkit-linear-gradient(#f8d8d8, #efd0d0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8d8d8', endColorstr='#efd0d0')";
    border: 1px solid #da9797;
}

img.alert-image {
    vertical-align: sub;
    width: 20px;
    height: 20px;
}
