.target-above {
    border-top: 7px solid #E6F1F6;
}

.target-empty {
    border: 1px dashed #43afcf !important;
    background: #E6F1F6 !important;
}

.draggable {
    width: 200px;
    height: 40px;
    background-color: #F2F2F2;
    border: 1px dashed #BDC4C9;
    box-shadow: 0 0 5px rgbs(189,196,201,0.5);
    border-radius: 3px;
    opacity: 0.9;
    filter: alpha(opacity=90);
    position: absolute;
    z-index: 5000;
    cursor: move;
    display: none;

    -moz-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    -o-transform: rotate(7deg);
    -ms-transform: rotate(7deg);
}

.draggable.drag-on {
    display: block;
}
