/*
 * general elements of a web page
 * something like tables, inputs, textareas and etc.
 *
 */

body {
    margin: 0;
    font-family: 'Helvetica Neue', arial, freesans, clean, sans-serif;
}

table.gTable {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border-spacing: 0px 0px;
}

input[type="text"].gTextInput.focus,
input[type="text"].gTextInput:focus,
input[type="password"].gTextInput.focus,
input[type="password"].gTextInput:focus  {
    border-color: #51A7E8;
    box-shadow: 0 0 5px rgba(81,167,232,0.5);
    background-color: #FFFFFF;
}

input[type="text"].gTextInput,
input[type="password"].gTextInput {
    background-color: #FAFAFA;
    padding: 7px 8px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
}

textarea.gTextarea:focus {
    border-color: #51A7E8;
    box-shadow: 0 0 5px rgba(81,167,232,0.5);
    background-color: #FFFFFF;
}

textarea.gTextarea {
    background-color: #FAFAFA;
    padding: 7px 8px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
}

/* paragraph */
p {
    white-space: pre-wrap;
}

/* unvisited link */
a:link {
    color: #4183C4;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #4183C4;
}

/* mouse over link */
a:hover {
    color: #4183C4;
    text-decoration: underline;
}

/* focused link */
a:focus {
    color: #4183C4;
    outline: none;
}

/* selected link */
a:active {
    color: #4183C4;
}


/*
 * Properties of the elements
 * Do not apply for a particular element tag, but generally
 *
 */

/* alignments */
.hAlignLeft {
    text-align: left;
}

.hAlignRight {
    text-align: right;
}

.hAlignCenter {
    text-align: center;
}

/* center */
.centered {
    margin-left: auto;
    margin-right: auto;
}

/* horizontal margin */
.hMargined_small {
    margin-left: 3px;
    margin-right: 3px;
}

.hMargined_normal {
    margin-left: 5px;
    margin-right: 5px;
}

.hMargined_large {
    margin-left: 15px;
    margin-right: 15px;
}

/* vertical margin */
.vMargined_small {
    margin-top: 3px;
    margin-bottom: 3px;
}

.vMargined_normal {
    margin-top: 5px;
    margin-bottom: 5px;
}

.vMargined_large {
    margin-top: 15px;
    margin-bottom: 15px;
}


/* font sizes */
.font_large {
    font-size: 16px;
}

.font_normal {
    font-size: 13px;
}

.font_small {
    font-size: 11px;
}

.logo {
    vertical-align: middle;
    font-weight: bold;
    font-size: 16px;
}

img.logo {
    width: 20px;
    height: 20px;
}

/* no select */
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
