/*
 * modal view layout
 *
 */

.modal-view {
    position: absolute;
    width: 350px;
    min-height: 50px;
    margin-top: 4px;
    margin-bottom: 20px;
    overflow: hidden;
    font-size: 12px;
    color: #666666;
    background-color: #ffffff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 5px;
    -webkit-box-shadow: 0 3px 12px rgba(0,0,0,0.25);
    box-shadow: 0 3px 12px rgba(0,0,0,0.25);
    z-index: 201;
}

.modal-view-content-row {
    min-height: 50px;
    padding: 0;
    border-bottom: 1px solid #e1e1e1;
}

.modal-view-content-row.last-row {
    border-bottom: 0;
}

a.modal-view-content-row-link {
    display: table;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    text-decoration: none;
}

a.modal-view-content-row-link:hover,
a.modal-view-content-row-link:focus,
a.modal-view-content-row-link:active,
a.modal-view-content-row-link:visited {
    background-color: #f5f5f5;
    text-decoration: none;
}

.modal-view-hidden-background {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: none;
    z-index: 200;
}

.modal-view-parent {
    z-index:201;
}

.modal-view-content-input {
    width: 200px;
    font-size: 12px;
}
