/*
 * note layout
 *
 */

 .note {
     background-color: #E6F1F6;
     border: 1px solid #B7C7CF;
     border-radius: 3px;
     display: block;
     font-size: 14px;
     color: #333333;
}

.note:hover {
    border-color: #51A7E8;
    box-shadow: 0 0 5px rgba(81,167,232,0.5);
}
