.node {
    cursor: pointer;
}

circle.source {
    fill: #556270;
}

circle.target {
    fill: #b2b2b2;
}

.link {
    stroke: #333;
    stroke-opacity: .6;
}

text {
    font: 10px sans-serif;
    pointer-events: none;
    fill: #333;
    stroke-width:0px;
}

/*** alerts ***/
.alert-green {
    fill: #5eb95e;
    stroke: #5eb95e;
    background: #5eb95e;
}

path.alert-green {
    fill: transparent;
}

.alert-yellow {
    fill: #fad232;
    stroke: #fad232;
    background: #fad232;
}

path.alert-yellow {
    fill: transparent;
}

.alert-red {
    fill: #dd514c;
    stroke: #dd514c;
    background: #dd514c;
}

path.alert-red {
    fill: transparent;
}

.alert-undefined {
    fill: #CC333F;
    stroke: #CC333F;
    background: #CC333F;
}

path.alert-undefined {
    fill: transparent;
}

/*** alert description */
div.tag {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
}

/* callout style */
.source-callout {
    display: block;
    opacity: 0.1;
}

.source-callout:hover {
    opacity: 1;
}

.target-callout {
    display: none;
}

/* select and deselect */
.selected {
    stroke: #428bca;
    fill: #5bc0de!important;
    stroke-width: 1px;
}
