.node {
    cursor: pointer;
}

.node circle:hover {
    cursor: pointer;
}

circle.source {
    fill: #556270;
}

circle.target {
    fill: #777;
}

.link {
    stroke: #333;
    stroke-opacity: .6;
}

.text {
    font: 10px sans-serif;
    pointer-events: none;
    fill: #333;
    stroke-width:0px;
}

.alert-green {
    fill: #5cb85c;
    stroke: #5cb85c;
    background: #5cb85c;
}

circle.circle-alert {
    fill: transparent;
}

.alert-yellow {
    fill: #f3da60;
    stroke: #f3da60;
    background: #f3da60;
}

.alert-red {
    fill: #c9302c;
    stroke: #c9302c;
    background: #c9302c;
}

.alert-undefined {
    fill: #CC333F;
    stroke: #CC333F;
    background: #CC333F;
}
