html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 70px;
    margin-bottom: 100px;
}

button {
    outline: none !important;
}

.ga-footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 70px;
}

.ga-footer-body {
    padding: 20px 15px;
    border-top: 1px solid #e7e7e7;
}

/* unvisited link */
a.ga-link:link {
    color: #4183C4;
    text-decoration: none;
}

/* visited link */
a.ga-link:visited {
    color: #4183C4;
}

/* mouse over link */
a.ga-link:hover {
    color: #4183C4;
    text-decoration: underline;
}

/* focused link */
a.ga-link:focus {
    color: #4183C4;
    outline: none;
}

/* selected link */
a.ga-link:active {
    color: #4183C4;
}

.ga-gray-text {
    color: #ccc;
}

.ga-indicator {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.ga-indicator-msg {
    margin-right: 5px;
}

.ga-indicator-off {
    background-color: #ffe3c8;
    border: 1px solid #dca874;
}

.ga-indicator-on {
    background-color: #f1f6e6;
    border: 1px solid #b2dfa3;
}

.ga-label {
    margin-left: 3px;
    margin-right: 3px;
    padding: 7px;
}

.ga-label-text {
    margin-right: 10px;
}

button.ga-close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}
.ga-close {
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

.ga-close:hover, .ga-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}

.ga-notification-center {
    text-align: center;
}

.ga-input-label {
    margin: 0px 10px;
}

.ga-group {
    margin: 0px 30px;
    position: relative;
    display: inline;
    border-collapse: separate;
}

/*** statistics ***/
.ga-statistics {
    display: inline-block;
    padding: 7px;
    margin: 1px 3px;
    font-weight: 200;
    min-width: 94px;
    min-height: 94px;
    max-width: 200px;
    border: 1px solid #b2b2b2;
    border-radius: 5px;
}

.ga-statistics-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
}

.ga-statistics-green {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #5cb85c;
}

.ga-statistics-yellow {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #f0ad4e;
}

.ga-statistics-red {
    color: #a94442;
    background-color: #f2dede;
    border-color: #d9534f;
}

.ga-statistics .ga-value {
    font-size: 42px;
    text-align: center;
    text-transform: uppercase;
}

.ga-statistics .ga-title {
    font-size: 13px;
    opacity: .6;
    text-align: center;
}

.thumbnail-image {
    width: 100px;
    height: 80px;
}

.tooltip-name {
    /*white-space: nowrap;*/
    font-weight: bold;
}

.tooltip-col {
    vertical-align: top;
    padding: 2px 4px;
}

.ga-actions {
    border-bottom: 1px solid #e7e7e7;
    min-height: 40px;
    padding: 10px 5px;
    font-size: 80%;
}

.ga-action {
    margin: 0px 10px;
}

.ga-zoom {
    border-bottom: 1px solid #e7e7e7;
    min-height: 40px;
}
