html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 70px;
    margin-bottom: 100px;
}

button {
    outline: none !important;
}

.ga-footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 70px;
}

.ga-footer-body {
    padding: 20px 15px;
    border-top: 1px solid #e7e7e7;
}

.ga-group {
    margin: 0px 30px;
    position: relative;
    display: inline;
    border-collapse: separate;
}

/*** statistics ***/
.ga-statistics {
    display: inline-block;
    padding: 7px;
    margin: 1px 3px;
    font-weight: 200;
    min-width: 94px;
    min-height: 94px;
    max-width: 200px;
    border: 1px solid #b2b2b2;
    border-radius: 5px;
}

.ga-statistics-controls {
    font-size:80%;
    text-align: right;
    padding: 0 3px;
}

.ga-statistics-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
}

.ga-statistics-green {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #5cb85c;
}

.ga-statistics-yellow {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #f0ad4e;
}

.ga-statistics-red {
    color: #a94442;
    background-color: #f2dede;
    border-color: #d9534f;
}

.ga-statistics .ga-value {
    font-size: 42px;
    text-align: center;
    text-transform: uppercase;
}

.ga-statistics .ga-title {
    font-size: 13px;
    opacity: .6;
    text-align: center;
}

.thumbnail-image {
    width: 100px;
    height: 80px;
}

.tooltip-name {
    /*white-space: nowrap;*/
    font-weight: bold;
}

.tooltip-col {
    vertical-align: top;
    padding: 2px 4px;
}

.ga-actions {
    border-bottom: 1px solid #e7e7e7;
    min-height: 30px;
    padding: 5px 5px;
    font-size: 80%;
}

.ga-action {
    margin: 0px 10px;
}

.ga-breadcrumbs {
    min-height: 40px;
}

/*** ranking ***/
.rank {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: bottom;
    cursor: pointer;
}
