#tt {
    position:absolute;
    display:block;
    font-size: 12px;
}
#ttcont {
    display:block;
    padding:3px 7px;
    margin-left:5px;
    background:#efefef;
    color:rgba(0,0,0,.7);
    border-radius: 5px;
    border: 1px solid #b2b2b2;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.15);
}
